<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
  <h1 class="display-4 font-weight-bold" style="color: #434b54; font-weight: 600;">Budget App</h1>
  <div class="d-flex flex-column align-items-center w-100 gap-2 mt-5">
    <%= link_to "New? Register Here.", new_user_registration_path, class: 'btn btn-primary fs-5 text btn-lg w-75 badge py-4 mb-2' %>
    <%= link_to "Registered? Sign In Now.", new_user_session_path, class: 'btn btn-primary fs-5 text btn-lg w-75 badge py-4' %>
  </div>
</div>
